<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="container-sm">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <%= link_to "Log in", new_session_path(resource_name), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Register", new_user_registration_path, class: " bg-warning nav-link active" %>
      </li>
    </ul>

    <h2 style="text-align: center">Client Sign up</h2>

    <div class="form-outline mb-4">
      <%= f.text_field :parent, class: "form-control", placeholder: "Promoter Name", autofocus: true, autocomplete: "email", value: cookies[:promoter] %>
    </div>

    <div class="form-outline mb-4">
      <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form-outline mb-4">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "new-password" %>
    </div>

    <div class="form-outline mb-4">
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password", autocomplete: "new-password" %>
    </div>

    <%= f.submit "Sign up", class: "btn btn-primary btn-block mb-3" %>
<% end %>
<%= render "devise/shared/links" %>
</div>
